.listItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 6px;
  width: 100%;
  max-width: 210px;
  gap: 0.5rem;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: var(--border-color);
  }
}

.listItemDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.listItemImage {
  width: 100%;
  height: auto;
  text-align: center;
  object-fit: contain;

  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}

.listItemName {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-main);
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

}

.listItemPrice {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}