.headerContainer {
  width: 100%;
  background: var(--color-primary-dark);
  border-bottom: 3px solid var(--color-primary-dark);
  padding: 20px 0;
  text-align: center;
  backdrop-filter: blur(10px);
  margin-bottom: 40px;
  box-shadow: 0 5px 20px rgba(0, 242, 255, 0.2);
  justify-items: center;

  h2 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 2px 2px 0px var(--color-primary);
  }

  nav {
    color: var(--color-primary-light);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
  }
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  width: calc(100% - 1rem);

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .navCol {
    display: flex;
    margin-left: 0.5rem;
  }
}

.cartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
}

.cartIconContainer {
  position: relative;
  width: 28px;

  .cartQuantity {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: white;
    border: 1px solid var(--color-primary);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-primary-dark);
    font-weight: 600;
  }
}
