.footerContainer {
  width: 100%;
  background: var(--color-primary-dark);
  border-bottom: 3px solid var(--color-primary-dark);
  text-align: center;
  backdrop-filter: blur(10px);
  height: 47px;
  align-items: center;
  justify-items: center;
  align-content: center;
}
