.formColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: self-end;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;

  .formInput {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: column;

    @media (max-width: 600px) {
      width: 100%;
    }

    & input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      width: 300px;

      @media (max-width: 600px) {
        width: auto;
      }
    }

    & select {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      width: min-content;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}

.formInput label {
  font-weight: bold;
  width: 120px;
  color: var(--color-primary);
}

.listFilterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
}

.listFilterTitle {
  margin-bottom: 20px;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
}
