body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: var(--bg-main);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
